
    <option value="" selected disabled>Select product group</option>
<%
for(var i = 0; i < productGroups.length; i++){
    var lvSelectedProductGroupText = '';
    if(lvSelectedProductGroupId === productGroups[i].productGroupId){
        lvSelectedProductGroupText = 'selected'
    }
%>
    <option <%- lvSelectedProductGroupText %> value=<%- '"' + productGroups[i].productGroupId + '"' %>><%- productGroups[i].productGroupName %></option>
<%
} // end of loop through websites
%>
