<!doctype html>
<html class="no-js" lang="en">
<head>
    <% include partials/header %>
</head>
<body>

    <% include partials/bodytop %>

    <div class="row" style="position: relative">
        <div class="small-10 columns">
            <h3>BTS Dashboard</h3>
            <p>Coming soon...</p>
        </div>
    </div>

    <footer>
        <% include partials/footer %>
    </footer>

    <% include partials/bodytail %>

  </body>
</html>
